# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.pytest_cache/
.hypothesis/

# Databricks
.ipynb_checkpoints
*.ipynb_checkpoints
.dbricks
databricks/
*.dbc
metastore_db/
derby.log

# Large data / MLflow artifacts
data/
*.csv
*.json
*.parquet
*.zip
*.gz
mlartifacts/
mlruns/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
